QUE.1

In [7]:
numbers= list(range(1,11))
for number in numbers:
    print(number)
print("hence, every number contains one of the above combined numbers.")

1
2
3
4
5
6
7
8
9
10
hence, every number contains one of the above combined numbers.

QUE.2

In [10]:
total = 0
for num in numbers:
    total += num
    print(total)
print("the sum is:", total)

1
3
6
10
15
21
28
36
45
55
the sum is: 55

QUE.3a

In [13]:
names = ("zakiyyu", "abubakar", "umar", "usman", "aliyu", "galadima")
for name in names:
    print(name.title())

Zakiyyu
Abubakar
Umar
Usman
Aliyu
Galadima

QUE.3b

In [25]:
for name in names:
    print(name.title(), "_" , len(name), "letters")

Zakiyyu _ 7 letters
Abubakar _ 8 letters
Umar _ 4 letters
Usman _ 5 letters
Aliyu _ 5 letters
Galadima _ 8 letters

QUE.4

In [44]:
nums = list(range(2,50,2))
print(nums)
print("The reverse numbers are:")
for num in range(len(nums) -1, -1, -1):
    print(nums[num])

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48]
The reverse numbers are:
48
46
44
42
40
38
36
34
32
30
28
26
24
22
20
18
16
14
12
10
8
6
4
2